@-webkit-keyframes popIn {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popIn {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotateRight {
  0% {
    transform: scale(1) rotate(0);
  }
  60% {
    transform: scale(1) rotate(60deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
@keyframes rotateRight {
  0% {
    transform: scale(1) rotate(0);
  }
  60% {
    transform: scale(1) rotate(60deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
@-webkit-keyframes rotateLeft {
  0% {
    transform: scale(1) rotate(45deg);
  }
  60% {
    transform: scale(1) rotate(-15deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes rotateLeft {
  0% {
    transform: scale(1) rotate(45deg);
  }
  60% {
    transform: scale(1) rotate(-15deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Arial", sans-serif;
  padding: 40px 10px;
  background-color: #000068;
}

h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 40px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.accordion {
  margin-bottom: 20px;
  width: 100%;
}

.accordion__btn {
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  font-size: 18px;
  letter-spacing: 0.0125em;
  text-align: left;
  background: white;
  color: black;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.6s ease;
}
.accordion__btn.is-expanded, .accordion__btn:hover {
  color: white;
  background: green;
}
.accordion__btn.is-expanded {
  border-radius: 10px 10px 0 0;
}
.accordion__btn:focus {
  outline: 3px dahsed black;
}

.accordion__icon {
  margin-right: 10px;
}
.accordion__icon.is-rotated {
  -webkit-animation: rotateRight 0.3s ease forwards;
          animation: rotateRight 0.3s ease forwards;
}
.accordion__icon.is-unrotated {
  -webkit-animation: rotateLeft 0.3s ease forwards;
          animation: rotateLeft 0.3s ease forwards;
}

.accordion__content {
  padding: 20px;
  background: white;
}
.accordion__content *:first-child {
  margin-top: 0;
}
a {
  color: blue; 
  text-decoration: underline; 
  font-weight: bold; 
}

.bird {
    display: flex;
    justify-content: center;
    align-items: center;  
}
